*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
#nav-bar{
	top:0; 
	z-index: 10;
}
#head-icons{
	background-color: #E7E5DF;
	height: 3rem;
	padding-bottom: 0.4rem;

}
#head-icons span{
	display: block;
	float: right;
}
#head-icons p{
	display: inline-block;
	padding-left: 1rem;
	color: #5e5e5e;
}
#head-icons i{
	color: #1f88ca;
}
#head-icons a{
	text-decoration: none !important; 
	color: #5e5e5e !important;
}
#head-icons a:hover{
	font-weight: 600; 
}
/**
.navbar-socials{
	display: inline-block;
	float: right;
	margin: 5px;
}

.navbar-socials i{
	padding-left: 1rem;
	font-size: 1rem;
	margin-top: 0;
	float: right;
	text-align: right;
}**/
.logo-img{
	padding-right: 3px; 
	display: inline-block;
	width: 1.5rem;
}
.navbar-brand{
	font-weight: bold; 
	color: #5e5e5e !important;
	letter-spacing: 2px;
}
.navbar-toggler{
	background-color:red;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(94, 94, 94, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
}
.navbar-nav{
	float: left;
}
.nav-item a{
	color:#5e5e5e;
	letter-spacing: 2px;
}
.nav-item{
	padding-right: 1rem;
}
.nav-item a:hover{
	color:#1f88ca ;
}
.banner-img{
     height: 28rem;
     margin: auto;
}
@media screen and (max-width: 800px) {
  .banner-img{
  	height: 20rem;
  }
}
.push{
    transition: transform 0.5s;
    transform: translate(0px, 0px);
}
.pushUp{
  transition: transform 0.5s;
  transform: translate(0px, 0px);
}
.content {
    top:4rem;
    left:4rem;
    width: 45%;
    position: absolute;
}
.content h1{
	font-size: 1.5rem;
	letter-spacing: 2px;
	color: #1f88ca;
}
.content h3{
	font-size: 1.3rem;
	line-height: 30px;
	padding-bottom: 30px;
	color: #5e5e5e;
	font-weight: 200;
}
.content a{
	background-color: #1f88ca;
	padding: 20px 40px 20px 40px; 
	border-radius: 20px;
	letter-spacing: 4px;
	color: #e7e5df !important;
}
.content a:hover{
	text-decoration: none;
	background-color: #25ace4;
}
@media screen and (min-width: 800px) {
  .content h1{
  	font-size: 3rem;
  }
  .content h3{
  	font-size: 2rem;
  	padding-bottom: 3rem;
  	line-height: 50px;

  }
 }

@media screen and (max-width: 600px) {
  .content{
  	left: 1rem;
  	width: 50%;
  }
  #head-icons p{
  	font-size: 5px;
  }
  .content a{
  	padding: 5px 10px 5px 10px; 
  }
}

/**why us section**/
.text-center{
	padding-top: 2rem;
	margin-top: 50px;
	color: #5e5e5e;
	letter-spacing: 2px;
}
.about-border {
    display: block;
    width: 80px;
    height: 3px;
    background: #25ace4;
    margin: 20px auto;
}

/**services section*/
#services{
	background-color: #E7E5DF;
	padding-bottom: 2rem;
}
.service-box{
	text-align: center; 
	padding: 35px 15px;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease 0s; 
}
.service-box:hover{
	background: #25ace4;	
}
.service-box:before{
	content: "";
	width: 48px; 
	height: 40px; 
	border-width: 20px; 
	border-style: solid;
	border-color: white white rgba(1,1,1,0.2) rgba(0,0,0,0.2);
	position: absolute;
	top: -40px; 
	right: -40px; 
	transition: all 0.3s ease 0s;	
}
.service-box:hover:before{
	top:0;
	right:0;
}
.service-box i{
	display: block; 
	font-size: 65px; 
	color: #5e5e5e;
	margin-bottom: 14px; 
	transition: all 0.3s ease 0s; 
}

.service-box .title{
	font-size: 18px; 
	letter-spacing: 2px;
}

/**footer section**/
#footer p{
	color: #5e5e5e !important; 
	line-height: 25px;
}
#footer h2, h3{
	color: #fff;
}
#footer h2{
	font-size: 18px; 
}
.footer-top{
	background: #111;
	padding: 80px 0;
}
.segment-one h3{
	letter-spacing: 3px; 
	
	color: #fff; 
}

.segment-two h2{
	color: #fff; 
	letter-spacing: 2px;
}

.segment-two h2:before{
	content: '|'; 
	color: #1f88ca;
	padding-right: 10px; 
}
.segment-two ul{
	margin:0;
	padding:0;
	list-style: none; 
}
.segment-two ul li{
	border-bottom: 1px solid rgba(255,255,255,0.3);
	line-height: 40px; 
}
.segment-two ul li a{
	color: #5e5e5e !important;
}

.segment-two ul li a:hover{
	text-decoration: none;
}
.segment-three h2:before{
	content: '|'; 
	color: #1f88ca;
	padding-right: 10px; 
}
.segment-three a{
	color: #1f88ca;
	padding-right: 1rem;
	text-decoration: none !important;
	font-size: 1.5rem;
}
.segment-three h2{
	color: #fff; 
	letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
  .segment-three{
  	padding-top: 1.5rem;
  }
}















